.formMainContainer {
  width: max-content;
  margin: 10px auto 10px auto;
  height: 200px;
  background-color: #d4cece;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 10px;
  top: 150px;
  position: relative;
}

.success {
  color: green;
}

.inputContainer {
  padding: 10px;
  height: 20px;
}

.borderRound10 {
  border-radius: 10px;
}

.borderRound5 {
  border-radius: 5px;
}

.labelStyle {
  padding: 5px;
  color: blue;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  font-weight: 900;
}
.textAlignCenter {
  text-align: center;
  padding: 5px;
}

.margin10 {
  margin: 10px;
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}
.marginAuto {
  margin: auto;
}
.selectStyle {
  background-color: white;
  height: 20px;
  width: max-content;
  left: 25px;
  position: relative;
}

.btnCls {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btnDefault {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btnLarge {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
.btnSmall {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btnXs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btnPrimary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
.btnSuccess {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.btnInfo {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}
.btnWarning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}
.btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}

.btnDanger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
